#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Kreative Bits'n'Picas
Comment=Create, edit, and convert bitmap fonts
Exec=java -jar /usr/local/lib/bitsnpicas.jar %F
Icon=/usr/share/icons/hicolor/128x128/apps/bitsnpicas.png
Terminal=false
Type=Application
Categories=Graphics;
MimeType=application/x-font-kbits;application/x-font-kpcas;application/x-font-bdf;application/x-font-fzx;application/x-font-hex;application/x-font-sbf;application/x-font-sdf;application/x-font-u8m;image/png;image/gif;image/jpeg;image/bmp;
