<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BitsNPicas</string>
	<key>CFBundleGetInfoString</key>
	<string>Kreative Bits'n'Picas © Kreative Software</string>
	<key>CFBundleIconFile</key>
	<string>kbnp-icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kreative.bitsnpicas</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Bits'n'Picas</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleSignature</key>
	<string>KBnP</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>JavaX</key>
	<dict>
		<key>ClassPath</key>
		<string>$JAVAROOT/BitsNPicas.jar:$JAVAROOT/KSFL.jar</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>com.kreative.bitsnpicas.edit.Main</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.mrj.application.apple.menu.about.name</key>
			<string>Bits'n'Picas</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xmx1024M</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/..</string>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kbits</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Kreative Bits'n'Picas Bitmap Font</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>KBit</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>kbnp-doc-bitmap</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kpcas</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Kreative Bits'n'Picas Vector Font</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>KPca</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>kbnp-doc-vector</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Bitmap Distribution Format Font</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>kbnp-doc-bitmap</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hex</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Hex Font</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>kbnp-doc-bitmap</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cvt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GEOS Convert File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>kbnp-doc-bitmap</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fzx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FZX Font</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>kbnp-doc-bitmap</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>u8m</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>U8/M Font</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>kbnp-doc-bitmap</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hmzk</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Mi Band 2 Font</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>kbnp-doc-bitmap</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dsf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DOSStart! Font</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>kbnp-doc-bitmap</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sbf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sabriel Bitmap Font</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>kbnp-doc-bitmap</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>suit</string>
				<string>dfont</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Mac OS Classic Font Suitcase</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FFIL</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>dmov-ffil</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mac OS Classic Desk Accessory Suitcase</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DFIL</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>dmov-dfil</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mac OS Classic Bitmap Font</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ffil</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>movr-ffil</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mac OS Classic TrueType Font</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>tfil</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>movr-tfil</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mac OS Classic Desk Accessory</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>dfil</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>movr-dfil</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mac OS Classic Script System</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ifil</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>movr-ifil</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mac OS Classic Keyboard Layout</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>kfil</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>movr-kfil</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mac OS Classic Sound</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sfil</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>movr-sfil</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mac OS Classic Function Key</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fkey</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>movr-fkey</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sfd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FontForge Font</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Network Graphics Image</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Joint Photography Experts Group Image</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Graphic Interchange Format Image</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Bitmap Image</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bin</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Binary File</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rom</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ROM Image</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
