<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>KeyEdit</string>
	<key>CFBundleGetInfoString</key>
	<string>KeyEdit © Kreative Software</string>
	<key>CFBundleIconFile</key>
	<string>keyedit-icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kreative.keyedit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KeyEdit</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>Bnjo</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>JavaX</key>
	<dict>
		<key>ClassPath</key>
		<string>$JAVAROOT/KeyEdit.jar</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>com.kreative.keyedit.Main</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.mrj.application.apple.menu.about.name</key>
			<string>KeyEdit</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xmx1024M</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/..</string>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kkbx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>KeyEdit Keyboard Layout</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>keyedit-doc</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>keylayout</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Mac OS X Keyboard Layout</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>keyedit-doc</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>klc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft Keyboard Layout Creator Source</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeIconFile</key>
			<string>keyedit-doc</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
