<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MapEdit</string>
	<key>CFBundleGetInfoString</key>
	<string>MapEdit © Kreative Software</string>
	<key>CFBundleIconFile</key>
	<string>mapedit-icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kreative.mapedit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MapEdit</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>ÇEEd</string>
	<key>CFBundleVersion</key>
	<string>1.1.1</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>JavaX</key>
	<dict>
		<key>ClassPath</key>
		<string>$JAVAROOT/MapEdit.jar:$JAVAROOT/ual.jar</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>com.kreative.mapedit.Main</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.mrj.application.apple.menu.about.name</key>
			<string>MapEdit</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xmx1024M</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/..</string>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Text</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
</dict>
</plist>
