#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Kreative MapEdit
Comment=Create and edit Unicode mapping files
Exec=java -jar /usr/local/lib/mapedit.jar %F
Icon=/usr/share/icons/hicolor/512x512/apps/mapedit.png
Terminal=false
Type=Application
Categories=Development;
